rust/target*/
.cache/
node_modules/
__pycache__/
*.pyc
rust/dist/hosts.json
rust/dist/running/
rust/dist/state*
rust/dist/*state.sqlite*
*.log
*.jsonl
*-checkpoint.json
.DS_Store
.cache-*.txt
rust/dist/computed-proof.json
exports/
rust/book/
rust/results/
